.divGChild{
    font-size: x-large;
    text-align: center;
    background-color: #6f42c1;
    color: white;
    padding: 20px;
    margin: 1px;
}
.divGChildEmpty{
    background-color: white;
    padding: 20px;
    margin: 1px;
}

.bg-purple{
    background-color: #6f42c1;
}
.divRestart{
    margin-right:0px !important;
}
.success{
    background-color: #28a745;
    color: white;
}

.info{
    background-color: #17a2b8;
    color: white;
}