.divGameboard{
    display: block;
    width: 100%;
	margin:0 auto;
}
.divGChild{
    float: left;
    border: 1px dashed white;
    padding: 30px;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    font-weight: bold;
    width: 100px;
    color: white;
    background-color: green;
}
.divGChildEmpty{
    float: left;
    border: 1px dashed darkgray;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    width:100px;
    background-color: lightgrey;
}
.divGRow{
    clear: both;
}
